faiss-cpu
numpy
torch
transformers
langchain-community
langchain-core
sentence-transformers
pygame
gTTS
markdown
html2text
nltk
streamlit
pytube
reportlab
tensorflow
python-dotenv
google-generativeai
pydantic
sentencepiece
pandas
colorama